/* This file is for your main application css. */

$fa-font-path: "../fonts";

.yt-placeholder {
  height: 390px;
  width: 640px;
  background-color: #eee;
  color: #777;
  text-align: center;
  div {
    margin-top: 150px;
    display: inline-block;
    font-size: 48px;
    img {
      height: 1.1em;
      margin-bottom: 7px;
    }
  }
}

.entry-details {
  .buttons {
    button {
      margin-right: 1em;
    }
  }
}

.player-controls {
  form {
    float: left;
    margin-right: 1em;
  }

  #player-continue {
    margin-top: 15px;
  }
}
